<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">
      </ion-back-button>
    </ion-buttons>

    <ion-title>{{chatData?.name}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="clickCopy()" *ngIf="this.isTeacher">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="clickList()" *ngIf="this.isTeacher">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="clickTodo()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="currentUid !== message.sentBy" class="message other-message">
        <b>{{ message.sentNameObs | async }}</b>
        <br>
        <ng-container *ngIf="message.mediaURL && message.mediaType">
          <ion-img class="image" *ngIf="message.mediaType === 'image'; else video" [src]="message.mediaURL">
          </ion-img>
          <ng-template #video>
            <video controls class="video">
              <source [src]="message.mediaURL">
            </video>
          </ng-template>
          <br>
        </ng-container>
        <span>{{ message.message }}</span>
        <div class="time" text-right> <br>
          {{ message.sentAt.seconds * 1000 | date:'short' }}
        </div>
      </ion-col>

      <ion-col offset="3" *ngIf="currentUid === message.sentBy" class="message my-message">
        <b>{{ message.sentNameObs | async }}</b>
        <br>
        <ng-container *ngIf="message.mediaURL && message.mediaType">
          <ion-img class="image" *ngIf="message.mediaType === 'image'; else video" [src]="message.mediaURL">
          </ion-img>
          <ng-template #video>
            <video controls class="video">
              <source [src]="message.mediaURL">
            </video>
          </ng-template>
          <br>
        </ng-container>
        <span>{{ message.message }}</span>
        <div class="time" text-right> <br>
          {{ message.sentAt.seconds * 1000 | date:'short' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-container *ngIf="onlyRead; else canWrite">
  <ion-footer>
    <ion-toolbar light="light">
      <ion-textarea placeholder="Solo el profesor puede enviar mensajes" disabled></ion-textarea>
    </ion-toolbar>
  </ion-footer>
</ng-container>

<ng-template #canWrite>
  <ion-footer>
    <div class="ion-padding-top" *ngIf="percentageVal | async as percentage">
      <ion-label>{{ 'uploadingMedia' | translate }}</ion-label>
      <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
    </div>
    <ion-toolbar light="light">
      <ion-row align-items-center no-padding>
        <ion-col size="9">
          <textarea autosize maxRows="4" (keyup.enter)="sendMessage()" [(ngModel)]="newMsg" class="message-input">
          </textarea>
        </ion-col>
        <ion-col size="1">
          <ion-button expand="block" fill="clear" color="primary" class="btn-no-padding"
            [disabled]="newMsg.trim() === ''" (click)="sendMessage()">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <input style="display:none;" type="file" accept="video/*" multiple="false" #chooseVideo
            (change)="onSendVideo($event)" />
          <ion-button expand="block" fill="clear" color="primary" class="btn-no-padding" (click)="chooseVideo.click()">
            <ion-icon name="play-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <input style="display:none;" type="file" accept="image/*" multiple="false" #chooseImage
            (change)="onSendImage($event)" />
          <ion-button expand="block" fill="clear" color="primary" class="btn-no-padding" (click)="chooseImage.click()">
            <ion-icon name="image" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ng-template>