<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

  <ion-card class="ion-no-margin">

    <ion-card-header>
      <ion-card-title>
        {{ 'forgotPass' | translate }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ 'forgotPassDescription' | translate }}
      </ion-card-subtitle>
    </ion-card-header>
    <form [formGroup]="forgotPassForm" (ngSubmit)="resetPassword(forgotPassForm.value)">
      <ion-card-content>

        <ion-item>
          <ion-input name="email" type="text" placeholder="Email" formControlName="email">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationMessages.email">

          <div class="error_message"
            *ngIf="forgotPassForm.get('email').hasError(validation.type) && (forgotPassForm.get('email').dirty || forgotPassForm.get('email').touched)">
            {{validation.message | translate}}
          </div>

        </ng-container>

        <div class="sign-btn-wrap">
          <ion-button shape="round" type="submit" fill="solid" class="sign-btn" [disabled]="!forgotPassForm.valid">
            {{ 'resetPass' | translate }}</ion-button>
        </div>

      </ion-card-content>
    </form>
  </ion-card>

</ion-content>