ion-content {
    --ion-background-color: transparent;
    --ion-item-background: transparent !important;
}

.bg-color {
    background: #e1eaf9;
}

ion-header {
    position: absolute;
}

ion-toolbar {
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
    background-color: transparent !important;
}

ion-card-title {
    margin-top: 50px !important;
    font-size: 25px;
    color: #53565a;
    font-weight: 600;
    text-align: center;
}

ion-card-subtitle {
    text-align: center;
    padding-top: 15px !important;
    font-size: 13px;
    color: #888c91;
    font-weight: 400;
    text-transform: none;
    padding: 0 30px;
}

ion-card-content {
    padding-top: 30px;
}
ion-item {
    color: #74787e;
    --border-color: #d4d7db;

    --highlight-color-focused: #215ab7;
    --padding-start: 0;
    --inner-padding-end: 0;
    --highlight-color-invalid: #215ab7;
    --highlight-color-valid: #215ab7;

    font-size: 13px;
    ion-input {
        color: #74787e;
        font-size: 13px;
        ion-icon {
            padding-right: 6px;
            font-size: 18px;
        }
    }

    ion-input:hover {
        color: #215ab7;
    }
}

.sign-btn-wrap {
    text-align: center;
    padding-top: 45px;
    .sign-btn {
        --ion-primary-color: #215ab7;
        --background: #215ab7;
        --background-activated: #e1eaf9;
        --background-focused: #e1eaf9;
        --background-hover: #647b9d;
        color: #f4f6fa;
        background-color: #215ab7;
        border-radius: 25px;
    }
}

.text-tag {
    margin-top: 35px;
    text-align: center;
    span {
        font-size: 13px;
        font-weight: normal;
        color: #334862;
    }
}

.error_message {
    font-size: 6px;
    font-weight: 200;
    color: #913e07;
}
