<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="changePath('chat-view')">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{chatData?.name}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="filterPopover()">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="messages.length > 0; else empty">
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" class="message" (click)="messageClick(message)"
        [ngClass]="{'marked-message': message.marked, 'unmarked-message': !message.marked}">
        <b>{{ message.sentName }}</b>
        <br>
        <ng-container *ngIf="message.mediaURL && message.mediaType">
          <ion-img class="image" *ngIf="message.mediaType === 'image'; else video" [src]="message.mediaURL">
          </ion-img>
          <ng-template #video>
            <video controls class="video">
              <source [src]="message.mediaURL">
            </video>
          </ng-template>
          <br>
        </ng-container>
        <span>{{ message.message }}</span>
        <div class="time" text-right> <br>
          {{ message.sentAt.seconds * 1000 | date:'short' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #empty>
    <div style="display: flex; height: 100%; align-items: center;">
      <div class="viewCenter">
        <div class="iconEmpty">
          <ion-icon class="iconSize" name="cloud-offline-outline"></ion-icon>
        </div>

        <div class="title-style">
          {{ 'noMessages' | translate }}
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>