.iconSize {
    transform: scale(3);
}

.viewCenter {
    text-align: center;
    height: fit-content;
    width: fit-content;
    display: block;
    margin: auto;
}

.title-style {
    margin-top: 20px;
}
