.iconSize {
  transform: scale(3);
}

.viewCenter {
  text-align: center;
  height: fit-content;
  width: fit-content;
  display: block;
  margin: auto;
}

.title-style {
  margin-top: 20px;
}

.flexStile{
  display: flex;
  margin-bottom: 5px;
}

.nombre{
  margin-top: 15px;
  margin-left: 15px;
}