<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chats
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authService.logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="items; else empty">
    <ion-item *ngFor="let item of items | async" button (click)="openChat(item.id)">
      <ion-label>
        <div class="flexStile">
          <ion-avatar>
            <ion-img [src]="item.imageURL ? item.imageURL : 'assets/images/def_avatar.svg'"></ion-img>
          </ion-avatar>
          <h1 class="nombre">{{item.name}}</h1>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <div style="display: flex; height: 100%; align-items: center;">
      <div class="viewCenter">
        <div class="iconEmpty">
          <ion-icon class="iconSize" name="cloud-offline-outline"></ion-icon>
        </div>

        <div class="title-style">
          No se ha unido a ningun chat.
          <br>
          Únete a uno.
        </div>
      </div>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button *ngIf="isTeacher === true" (click)="showCreateGroup()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isTeacher === false" (click)="showJoinChat()">
      <ion-icon name="enter-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>